{% extends 'base.html' %} 

{% block content %}
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide">
<style>
    body {
        background-color: rgb(240, 239, 247);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
    }

    .pagename {
        font-family: "Audiowide", sans-serif;
        font-size: 50px;
        color: rgb(10, 9, 36);
        margin-bottom: 40px;
    }

    .additem {
        background-color: rgb(11, 5, 37);
        padding: 40px;
        border-radius: 10px;
        text-align: center;
        max-width: 800px;
        width: 100%;
    }

    /* Mengubah warna teks menjadi putih */
    .additem label {
        color: white;
    }
    .add_btn {
        background-color: #ffffff;
        color: rgb(8, 5, 29);
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
    }

    .add_btn:hover {
        background-color: #0056b3;
    }
</style>

<div class="pagename">Edit Product</div>

<div class="additem">
    <form method="POST">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
            <tr>
                <td></td>
                <td>
                    <input class="btn add_btn" type="submit" value="Edit Item"/>
                </td>
            </tr>
        </table>
    </form>
</div>

{% endblock %}
