{% extends 'base.html' %} 

{% block content %}
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide">
<style>
    body {
        background-color: rgb(240, 239, 247);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
    }

    .pagename {
        font-family: "Audiowide", sans-serif;
        font-size: 50px;
        color: rgb(10, 9, 36);
        margin-bottom: 40px;
    }

    .edititem {
        background-color: rgb(11, 5, 37);
        padding: 40px;
        border-radius: 10px;
        text-align: center;
        max-width: 800px;
        width: 100%;
    }

    /* Mengubah warna teks menjadi putih */
    .edititem label {
        color: white;
    }
    
    .form-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .edit_btn {
        background-color: #ffffff;
        color: rgb(8, 5, 29);
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        margin-top: 20px;
    }

    .edit_btn:hover {
        background-color: #0056b3;
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }

    table, th, td {
        border: 1px solid white;
    }

    th, td {
        padding: 10px;
        text-align: left;
        color: white;
    }
</style>

<div class="pagename">Edit Product</div>

<div class="edititem">
    <form method="POST" class="form-container">
        {% csrf_token %}
        <table>
            <tr>
                <th>Name</th>
                <td>{{ form.name }}</td>
            </tr>
            <tr>
                <th>Amounts</th>
                <td>{{ form.items }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ form.price }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ form.description }}</td>
            </tr>
        </table>
        <input class="btn edit_btn" type="submit" value="Edit Item"/>
    </form>
</div>

{% endblock %}
