{% extends 'base.html' %}

{% block meta %}
    <title>Register</title>
{% endblock meta %}

{% block content %}  
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide">
<style>
    body {
        background-color: rgb(8, 5, 29); /* Atur latar belakang halaman menjadi hitam */
        display: flex;
        flex-direction: column; /* Mengatur elemen secara vertikal */
        justify-content: center; /* Posisikan elemen secara horizontal di tengah halaman */
        align-items: center; /* Posisikan elemen secara vertikal di tengah halaman */
        height: 100vh; /* Buat elemen menutupi tinggi halaman */
        margin: 0;
    }

    .appname {
        font-family: "Audiowide", sans-serif;
        font-size: 50px;
        color: white; /* Warna teks appname */
        margin-bottom: 30px; /* Jarak bawah dari appname ke kontainer register */
    }

    .pagename{
        font-family: "Audiowide", sans-serif;
        font-size: 30px;
        color: rgb(15, 1, 1); /* Warna teks appname */
        margin-bottom: 40px; /* Jarak bawah dari appname ke kontainer register */
    }

    .register {
        background-color: white; /* Atur latar belakang kotak menjadi putih */
        padding: 40px;
        border-radius: 10px;
        text-align: center;
    }

    .register_btn {
        background-color: #480e5f;
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
    }

    .register_btn:hover {
        background-color: #0056b3;
    }

</style>

<div class="appname">DEKAPPY</div>

<div class = "register">
    <div class="pagename">REGISTER</div>  

        <form method="POST" >  
            {% csrf_token %}  
            <table>  
                {{ form.as_table }}  
                <tr>  
                    <td></td>
                    <td><input class="btn register_btn" type="submit" value="Daftar"/></td>  
                </tr>  
            </table>  
        </form>

    {% if messages %}  
        <ul>   
            {% for message in messages %}  
                <li>{{ message }}</li>  
                {% endfor %}  
        </ul>   
    {% endif %}

</div>  

{% endblock content %}